---
title: Summaries
---
<!-- Section -->
<section>
		<header class="major">
			<h2>Recent summaries</h2>
		</header>
		<div class="posts">
			{% for post in site.summaries offset: 0 limit: 3 %}
			<article>
				<a href="{{ site.baseurl }}{{ post.url }}" class="image">{% include img.html src=post.image.thumb alt=post.image.alt randomize=post.image.randomize random=post.title %}</a>
				<span class="date">{{ post.date | date_to_string }}</span>
				<h3>{{ post.title }}</h3>
				{{ post.excerpt }}
				<ul class="actions">
					<li><a href="{{ site.baseurl }}{{ post.url }}" class="button">More</a></li>
				</ul>
			</article>
			{% endfor %}
		</div>
		<ul class="actions">
			<li><a href="/blog" class="button big">See all posts</a></li>
		</ul>
	</section>