---
layout: home
---
<!-- Header -->
<header id="header">
	<h1>Janic Mikes</h1>
	<p>Software Engineer &nbsp;&bull;&nbsp; Cyber Security, Web &amp; Music enthusiast</p>
	<nav>
		<ul>
			{% for account in site.data.social %}
			<li><a href="{{ account.href }}" {% if account.social_icon %}class="icon fa-{{ account.social_icon | slugify }}"{% endif %} target="_blank"><span class="label">{{ account.name }}</span></a></li>
			{% endfor %}
		</ul>
	</nav>
	<a class="enter" href="/blog">Enter Blog</a>
	
</header>

<!-- Footer -->
<footer id="footer">
	<span class="copyright">&copy; Janic Mikes. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>
</footer>