---
layout: default
---
<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Hi, I’m Janic<br /></h1>
				<p>And this is some text about me. Fairly short but informative.</p>
			</header>
			<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
			<ul class="actions">
				<li><a href="/about" class="button big">Learn More</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="/assets/images/janicmikes-avatar.jpg" alt="" />
		</span>
	</section>

<!-- Skills -->
	<section>
		<header class="major">
			<h2>Erat lacinia</h2>
		</header>
		<div class="features">
			<article>
				<span class="icon fa-diamond"></span>
				<div class="content">
					<h3>Portitor ullamcorper</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-paper-plane"></span>
				<div class="content">
					<h3>Sapien veroeros</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-rocket"></span>
				<div class="content">
					<h3>Quam lorem ipsum</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-signal"></span>
				<div class="content">
					<h3>Sed magna finibus</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
		</div>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Recent posts</h2>
		</header>
		<div class="posts">
			{% for post in site.posts offset: 0 limit: 3 %}
			<article>
				<a href="{{ site.baseurl }}{{ post.url }}" class="image">{% include img.html src=post.image.thumb alt=post.image.alt randomize=post.image.randomize random=post.title %}</a>
				<span class="date">{{ post.date | date_to_string }}</span>
				<h3>{{ post.title }}</h3>
				{{ post.excerpt }}
				<ul class="actions">
					<li><a href="{{ site.baseurl }}{{ post.url }}" class="button">More</a></li>
				</ul>
			</article>
			{% endfor %}
		</div>
		<ul class="actions">
			<li><a href="/blog" class="button big">See all posts</a></li>
		</ul>
	</section>

	</body>
</html>