@import 'libs/vars.home';
@import 'libs/functions';
@import 'libs/mixins.home';
@import 'libs/skel.home';

/*
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Header */

	#header {
		nav {
			a {
				position: relative;
				border: solid 1px _palette(fg);
				border-radius: 100%;
				-ms-behavior: url('assets/js/ie/PIE.htc');

				&:before {
					border: 0;
				}
			}
		}
	}

/* Footer */

	#footer {
		background-image: url('/assets/images/ie/footer.png');
		background-position: bottom left;
		background-repeat: repeat-x;
	}