@import 'libs/vars.home';
@import 'libs/functions';
@import 'libs/mixins.home';
@import 'libs/skel.home';

/*
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Wrapper */

	#wrapper {
		opacity: 1;
	}

/* Overlay */

	#overlay {
		opacity: 1;
	}

/* Header */

	#header {
		opacity: 1;

		nav {
			li {
				opacity: 1;
			}
		}
	}

/* Footer */

	#footer {
		background-image: url('/assets/images/ie/footer.svg');
	}