<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"> 
	{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %} 

	{% if site.data.owner.twitter %}<!-- Twitter Cards --> 
	{% if page.image.main %}<meta name="twitter:card" content="summary_large_image"> 
	<meta name="twitter:image" content="{{ site.url }}/assets/images/{{ page.image.main }}"> 
	{% else %}<meta name="twitter:card" content="summary"> 
	<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/assets/images/{{ page.image.thumb }}{% else %}{{ site.url }}/assets/images/{{ site.logo }}{% endif %}">
	{% endif %} 
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"> 
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"> 
	<meta name="twitter:creator" content="@{{ site.data.owner.twitter }}">
	{% endif %} 


	<!-- Open Graph --> 
	<meta property="og:locale" content="en_US"> 
	<meta property="og:type" content="article"> 
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"> 
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"> 
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"> 
	<meta property="og:site_name" content="{{ site.title }}"> 
	{% if page.image.feature %}<meta property="og:image" content="{{ site.url }}/assets/images/{{ page.image.feature }}">{% else %}<meta property="og:image" content="{{ site.url }}/assets/images/{{ site.default_bg }}">{% endif %} 

	{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %} 
	{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %} 

	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %} 
	<link rel="canonical" href="{{ canonical }}"> 
	<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed"> 
	{% if site.data.owner.google_plus %}<link rel="author" href="{{ site.data.owner.google_plus }}?rel=author">{% endif %} 



	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/{{ include.style }}" />
	{% if site.share %}<link rel="stylesheet" href="/assets/css/shariff.min.css" />{% endif %}
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

	<!-- Icons --> 
	<!-- 16x16 --> 
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico"> 
	<!-- 32x32 --> 
	<link rel="shortcut icon" href="{{ site.url }}/favicon.png"> 
	<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices --> 
	<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-precomposed.png"> 
	<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini --> 
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png"> 
	<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch --> 
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png"> 
	<!-- 144x144 (precomposed) for iPad 3rd and 4th generation --> 
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png"> 
</head>
