<!-- Header -->
  <header id="header">
    <a href="{{ '/' | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> {{ site.subtitle }}</a>
    <ul class="icons">
      {% for account in site.data.social %}
      <li><a href="{{ account.href }}" {% if account.social_icon %}class="icon fa-{{ account.social_icon | slugify }}"{% endif %} target="_blank"><span class="label">{{ account.name }}</span></a></li>
      {% endfor %}
      <li><a href="/feed.xml" class="icon fa-rss" target="_blank"><span class="label">RSS</span></a></li>
    </ul>
  </header>
