<!-- Scripts -->
    <!-- TODO: replace individual scripts with a webpack bundle... -->  
    <!--<script src="/assets/js/bundle.js" charset="utf-8"></script>-->
    <script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>
    {% if site.share %}<script src="/assets/js/shariff.min.js"></script>{% endif %}
    {% if site.search %}<script src="/assets/js/jekyll-search.js"></script>

  <!-- Jekyll Simple Search option --> 
  <script> 
    $(document).ready(function() { 
        SimpleJekyllSearch({ 
          searchInput: document.getElementById('query'),
          resultsContainer: document.getElementById('search-results'),
          json : '/search.json',
          searchResultTemplate : '<article><a href="{url}" class="image"><img src="{thumb}" alt="" /></a><p><a href="{url}">{title}</a> <br /><span class="entry-date"><time datetime="{date}">{shortdate}</time></span></p></article>', 
          noResultsText: '<p>Nothing found.</p>' 
        }); 
    }); 
  </script> 
  {% endif %}

  {% if site.google_analytics %}{% include google_analytics.html %}{% endif %}
  {% if page.comments %}{% include disqus_comments.html %}{% endif %} 
  {% if page.math %}<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>{% endif %}  