<!-- Sidebar -->
  <div id="sidebar" class="inactive">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#" onsubmit="event.preventDefault();">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
          <div class="mini-posts" id="search-results">
          </div>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Homepage</a></li>
            <li><a href="{{ '/blog' | absolute_url }}">Blog</a></li>
            <li><a href="{{ '/about' | absolute_url }}">About Me</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section id="contact">
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Feel free to drop me a line.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:{{ site.data.owner.email }}">{{ site.data.owner.email }}</a></li>
            <li class="fa-home">Rapperswil-Jona<br />
            Switzerland</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. <br />Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
  </div>
