<div class="box signoff">
	<img src="/assets/images/{{ site.data.owner.avatar }}" alt="{{ site.data.owner.name }}'s photo" itemprop="image" class="post-avatar img-circle img-responsive"/>
	<div class="author">
		<h4 class="bordered-bottom vcard author nocount" itemprop="author" itemscope itemtype="http://schema.org/Person">By <span itemprop="name" class="fn"><a href="/about" title="About {{ site.data.owner.name }}" itemprop="url">{{ site.data.owner.name }}</a></span></h4>
		<p>{{ site.data.owner.description }}</p>
	</div>
</div>
