---
title: Blog
layout: page
---
<!-- Section -->
	<section>
		<header class="major">
			<h2>Blog posts</h2>
		</header>
		<div class="posts">
			{% for post in paginator.posts %}
			<article>
				<a href="{{ site.baseurl }}{{ post.url }}" class="image">{% include img.html src=post.image.thumb alt=post.image.alt  %}</a>
				<h3>{{ post.title }}</h3>
				<span class="date">{{ post.date | date_to_string }}</span>
				{{ post.excerpt }}
				<ul class="actions">
					<li><a href="{{ site.baseurl }}{{ post.url }}" class="button">More</a></li>
				</ul>
			</article>
			{% endfor %}
		</div>
	</section>

<!-- Pagination links -->
	<ul class="pagination">
		<li>
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="button">Prev</a>
		{% else %}
			<span class="button disabled">Prev</span>
		{% endif %}
		</li>
		

		{% for page in (1..paginator.total_pages) %}
		<li>	
			{% if page == paginator.page %}
			<span class="page active">{{ page }}</a>
			{% elsif page == 1 %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page">{{ page }}</a>
			{% else %}
			<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page">{{ page }}</a>
			{% endif %}
		</li>
		{% endfor %}

		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="button">Next</a>
		{% else %}
			<span class="button disabled">Next</span>
		{% endif %}
	</ul>