/* Custom Styles */
.signoff {
    background-color: #f5f6f7;
    display: flex;
    align-items: center;

    img {
        height: 8em;
        margin-right: 1.5em;    
    }
}

.img-circle {
    border-radius: 50%;
}

.mini-posts {
    article {
        display: flex;
        align-content: center;

        a {
            width: 30%;
        }
    }

    p {
        margin-left: 1.5em;
    }
}

#content p img { 
    max-width: 40%; 
} 

/* Numbering Headings */
body {counter-reset: h2} 
#content.numerateheadings { 
    h2 {counter-reset: h3} 
    h3 {counter-reset: h4} 
    h4 {counter-reset: h5} 
    h5 {counter-reset: h6} 
    h2:before {counter-increment: h2; content: counter(h2) " "} 
    h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) " "} 
    h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) " "} 
    h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "} 
    h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " "} 
    h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {content: ""; counter-increment: none}      
} 
    