<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include head.html style="main.css" %}
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                {% unless page.noheader %}
                {% include header.html %}
                {% endunless %}

                {{ content }}

            </div>
        </div>
        
        {% unless page.nosidebar %}
        {% include sidebar.html %}
        {% endunless %}

    </div>

    {% include scripts.html %}

</body>

</html>