---
layout: default
---
<!-- Content -->
    <section>
        <header class="main">
            <h1>{{ page.title }}</h1>
        </header>

        {% if page.image.main %}
        <span class="image main">{% include img.html src=page.image.main alt=page.image.alt  %}</span>
        {% endif %}

        {{ content }}

    </section>
