---
layout: default
---
<!-- Content -->
    <section id="content" {% unless page.nonumerateheadings %}class="numerateheadings"{% endunless %}>
        <header class="main">
            <h1>{{ page.title }}</h1>
            <p class="post-meta">{{ page.date | date_to_string }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            {% if site.wpm %} 
                {% assign readtime = page.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm | round: 1 %} 
            {% else %} 
                {% assign readtime = page.content | strip_html | number_of_words | append: '.0' | divided_by:180 | round: 1 %} 
            {% endif %} 
            <div class="post-info text-center small"> 
                {% if page.modified %}Last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ page.modified | date_to_string }}</time>{% endif %} 
                {% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read{% endif %}{% if readtime < 1 %}Less than 1 minute read{% endif %}</span>{% endif %} 
            </div> 
        </header>

        {% if page.image.main %}
        <span class="image main">{% include img.html src=page.image.main alt=page.image.alt  %}</span>
        {% endif %}

        {{ content }}

        <footer class="post-footer entry-meta"> 
            {% if site.share %}{% include share.html %}{% endif %} 
            {% include signoff.html %} 
            {% if site.disqus_shortname and page.comments == true %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %} 
        </footer> 

    </section>